section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.cards{
    width: 250px;
    padding: 20px;
    color: #000;
    background-color: #efeff0;
    margin: 5px;
    border-radius: 9px;
}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  
}
.image_box img{
    width: 150px;
    height: 200px;
}
.details p:nth-child(1){
    font-weight: bold;
    font-size: 24px;
}
.details p:nth-child(2){
    
}
.details p:nth-child(3){
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding-top: 7px;
}



.details button {
  backface-visibility: hidden;
  background: #332cf2;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.details button:disabled {
  color: #787878;
  cursor: auto;
}

.details button:not(:disabled):hover {
  transform: scale(1.05);
}

.details button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.details button:focus {
  outline: 0 solid transparent;
}

.details button:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.details button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.details button:not(:disabled):active {
  transform: translateY(.125rem);
}